#head-div{
    display:flex;
    flex-direction: row;    
    flex-wrap: nowrap;
}
#head-div > div{
    width: 50%;
}

@media screen and (min-width: 360px) {
    #head-div > div {
        
        display: block;
        
        width: 100%;
        
    }
  }